body{
    margin: 0px;
}

header {
    display: ruby-text; 
    align-items: center; 
    background-color: #b4b8b9;
    padding: 20px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.logo_principal {
    display: inline-block;
    vertical-align: middle;
    width: 150px;
    height: 100px;
}


.buscador input{
    padding-left: 30px;
    padding-right: 150px;
    display: table-cell;
    display: inline;
    width: 500px;
    height: 30px;
    text-align: left;
    vertical-align:bottom;
}

.buscador button{
    height: 35px;
}

/*lista desplegable */

.dropdownmenu ul, .dropdownmenu li {
	margin: 0;
	padding: 0;
}
.dropdownmenu ul {
	background: gray;
	list-style: none;
	width: 100%;
}
.dropdownmenu li {
	float: left;
	position: relative;
	width:auto;
}
.dropdownmenu a {
	background: #b4b8b9;
	color: #FFFFFF;
	display: block;
	font: bold 12px/20px sans-serif;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}
.dropdownmenu li:hover a {
	background: #000000;
}
#submenu {
	left: 0;
	opacity: 0;
	position: absolute;
	top: 35px;
	visibility: hidden;
	z-index: 1;
}
li:hover ul#submenu {
	opacity: 1;
	top: 40px;	/* adjust this as per top nav padding top & bottom comes */
	visibility: visible;
}
#submenu li {
	float: none;
	width: 100%;
}
#submenu a:hover {
	background: #DF4B05;
}
#submenu a {
	background-color:#000000;
}
/*   */




.carousel button{
    height: 90px;
}

#imagen {
    width: 100%;
    height: 400px;
    background-size: cover;
}

.menu_encabezado{
    display: ruby;
    padding-inline-start: 0px;
}

.menu_encabezado li{
    padding: 20px;
}

.banner{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1.5rem;
    overflow: hidden;
    position: relative;
    padding: .25rem 1.25rem;
    box-sizing: border-box;
    max-width: 1200px;
    margin: auto;
}