body{
    margin: 0px;
}

.logo_principal {
    display: inline-block;
    vertical-align: middle;
}

.search{
    padding-left: 30px;
    padding-right: 150px;
}

.buscador input{
    display: flex;
    width: 500px;
    height: 30px;
    text-align: left;
    vertical-align:bottom;

}

header {
    display: flex; 
    align-items: center; 
    background-color: #dbdcdd;
    padding: 20px;
}



nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover {
    color: #3182ec;
}

.logo_principal {
    width: 200px;
    vertical-align: middle;
    border-right: none;
}
